.header2 {
    padding: 80px;
    text-align: center;
    color: #2c2c2c;
    background-color: rgb(248, 228, 141);
    background-size: cover;
    height: 300px;
  }
  
  .header2 h1 {
    font-size: 40px;
  }
  
  .header2 img {
    margin-top: 10px;
    width: 40vw;
    height: 50vh;
  }